/* Set background color for nav */
nav {
    background-color: #77b300; /* Green background */
    width: 100%; /* Full width of the browser */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
/* Style for unordered list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for list items */
nav ul li {
    margin-right: 20px;
}
nav ul li a:hover {
    text-decoration: underline; /* Underline when hovered */
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 5px 5px;
    display: block;
}

/* Style for search form */
.search-form {
    display:flex;;
    align-items: center;
    box-sizing: border-box;
}

.search-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:400px;
    box-sizing: border-box;
}

.search-form button {
    padding: 6px 12px;
    margin-left: 0px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.2); /* Slightly stronger shadow */
    box-sizing: border-box;
}

.search-form button:hover {
    background-color: #5a9f00;
    color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;

}
